<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Diet Menu PDF</title>
    <link type="text/css" rel="stylesheet" href="{{ public_path }}{{ asset('css/pdf.css') }}" />
</head>
<body>
    <div class="container">
        <div class="diet-title-box">
            <h1 class="diet-title">Jadłospis</h1>
            <span class="date-range">
                <span class="color-element">(</span>
                {{ periodMeals|first.date }} - {{ periodMeals|last.date }}
                <span class="color-element">)</span>
            </span>
        </div>
        <div class="content">
            {% for day in periodMeals %}
                <div class="{{ loop.first ? '' : 'new-page' }} day-box">
                    <h2 class="day-title">{{ day.dayName }}</h2>
                    <span>
                        <span class="color-element">(</span>
                        <span>
                            <img class="icon " src="{{ public_path }}{{ asset('icon/date.svg') }}" alt="date" />
                            {{ day.date }}
                        </span>
                        <span class="day-info">
                        <img class="icon" src="{{ public_path }}{{ asset('icon/kcal.svg') }}" alt="kcal" />
                            {{ day.caloriesQuantity }} kcal
                        </span>
                        <span class="color-element">)</span>
                    </span>
                    {% for meal in day.meals %}
                        <div class="meal-box">
                            <h3 class="meal-title"><em>{{ meal.mealName }}</em></h3>
                            <span class="calories">
                                <img class="icon" src="{{ public_path }}{{ asset('icon/kcal.svg') }}" alt="kcal" />
                                {{ meal.caloriesQuantity }} kcal
                            </span>
                            <div class="content-box">
                                {% if meal.mealId in periodIngredients|keys %}
                                    <span class="color-element content-title">
                                        Składniki
                                    <img class="icon" src="{{ public_path }}{{ asset('icon/ingredient.svg') }}" alt="ingredient" />
                                    </span>
                                    <div class="content-text">
                                        {% for mealIngredients in periodIngredients[meal.mealId] %}
                                            <span><em>{{ mealIngredients.weight }}g</em> {{ mealIngredients.name }}{{ loop.last ? '' : ', ' }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="content-box">
                                {% if meal.mealId in periodRecipes|keys %}
                                    <span class="color-element content-title">
                                        Sposób przygotowania
                                     <img class="icon" src="{{ public_path }}{{ asset('icon/menu.svg') }}" alt="menu" />
                                    </span>
                                    <div class="content-text">
                                        <ul class="recipe-list">
                                            {% for order,step in periodRecipes[meal.mealId] %}
                                                <li>
                                                    <img class="icon" src="{{ public_path }}{{ asset('icon/step.svg') }}" alt="step" />
                                                    {{ step }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>